<div class="container-fluid fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="bmd-label-floating">Host</label>
                <input type="text" class="form-control" formControlName="host">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-file-upload form-file-simple">
                <input type="text" class="form-control inputFileVisible" placeholder="Simple chooser...">
                <input type="file" class="inputFileHidden">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
